.dimensions{
  text-align: center;
  font-family: serif;
  background-color: #00FFFF;
}
h1{
  text-align: center;
  color: #FF8C00;
  background-color: #ff4d4d;
}
/* p{
  background-color: #66CDAA;
}
body{
  background-image: url("../j3.png");
} */
